<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1>About</h1>
			<p>I.R.M.A. Kiosk</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<p><strong>I.R.M.A. Kiosk</strong> is powered by <a href="https://github.com/Toolpark/irma">I.R.M.A.</a>, the Interactive Robotic Messaging Assistant.</p>
		<p>It's a <a href="https://www.yammer.com/">Yammer</a> bot written in JavaScript using <a href="http://nodejs.org/">Node.js</a>. Licensed under the <a href="https://raw.github.com/Toolpark/irma/master/LICENSE">MIT License</a>.</p>
	</div>
</div>

<div class="row">
	<div class="span12" style="text-align: center; padding: 18px 0 36px 0;">
	<img src="/img/irma.svg" style="max-width: 25%;" />
	</div>
</div>

<footer>
<div class="row">
	<div class="span12" style="text-align: center;">
		<a class="btn btn-large" href="/">Home</a>
	</div>
</div>
</footer>
