<%
	var posneg = (balance < 0) ? 'negative' : 'positive';
%>

<div class="row">
	<div class="span12">
		<div class="well">
			<p class="balance <%= posneg %>"><%=: balance / 100 | money %></p>
		</div>
	</div>
</div>

