
<div class="row" style="margin-top: 18px;">
	<div class="span12">
		<ul class="nav nav-tabs">
			<li class="active"> <a href="/deposit">Dep.</a> </li>
			<li> <a href="/withdraw">With.</a> </li>
			<li> <a href="/tally">Tally</a> </li>
			<li> <a href="/stocklist">Stok.</a> </li>
			<li> <a href="/initialize">Init</a> </li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="span12">
		<form action="/deposit" method="post" class="" >
		<div class="control-group">
			<label for="select-user">User</label>
			<select id="select-user" name="user" placeholder="Select" class="span2">
			<% for (var id in users) { %>
				<option value="<%= id %>"><%= users[id].fullName() %></option>
			<% } %>
			</select>
		</div>

		<div class="control-group">
			<label for="input-amount">Amount</label>
			<input id="input-amount" name="amount" type="number" placeholder="CHF" class="span2" />
		</div>

		<div class="form-actions">
            <button class="btn btn-primary" type="submit">Deposit</button>
          </div>
		</form>
	</div>
</div>

<footer>
<div class="row">
	<div class="span12" style="text-align: center;">
		<a class="btn btn-large" href="/">Home</a>
		<a class="btn btn-large" href="/account">View account</a>
		<a style="display:inline-block; margin-left: 18px;" href="/about"><img src="/img/irma.svg" style="height: 47px;" /></a>
	</div>
</div>
</footer>
