<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>I.R.M.A. Kiosk</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css" />
		<link rel="stylesheet" type="text/css" href="/css/base.css" />
	</head>

	<body class="">
		<div class="container">
			<div class="row">
				<div class="span12">
					<p>&nbsp;</p>
				</div>
			</div>
			<%- body %>
		</div>
	</body>
</html>
