<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1>Thank You!</h1>
			<p>You've just purchased <strong><%= item.name() %></strong> for CHF&nbsp;<%=: item.price() / 100 | money %></p>
		</div>
	</div>
</div>

<%- partial('balance', { 'balance' : account.balance() }) %>

<footer>
<div class="row">
	<div class="span12" style="text-align: center;">
		<a class="btn btn-large" href="/">Home</a>
		<a class="btn btn-large" href="/account">View account</a>
		<a style="display:inline-block; margin-left: 18px;" href="/about"><img src="/img/irma.svg" style="height: 47px;" /></a>
	</div>
</div>
</footer>
