<div class="row noheader">
	<div class="span12">
	</div>
</div>

<div class="item row sendmoney w">
	<div class="span12">
		<div class="sendmoney">
			<span class="name">Send Money</span>
			<span class="description">Transfer money to another account</span>
			<i class="icon-gift icon-white"></i>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<form action="/sendmoney" method="post" class="" >
		<div class="control-group">
			<label for="select-recipient">Recipient</label>
			<select id="select-recipient" name="recipient" placeholder="Select" class="span2">
			<% for (var id in users) { %>
				<% if (id !== req.userId) { %>
				<option value="<%= id %>"><%= users[id].fullName() %></option>
				<% } %>
			<% } %>
			</select>
		</div>

		<div class="control-group">
			<label for="input-amount">Amount</label>
			<input id="input-amount" name="amount" type="number" step="0.05" placeholder="CHF" class="span2" />
		</div>

		<div class="control-group">
			<label for="input-remark">Remark</label>
			<input id="input-remark" name="remark" type="text" placeholder="Why?" class="span2" />
		</div>

		<div class="form-actions">
            <button class="btn btn-primary" type="submit">Send money</button>
          </div>
		</form>
	</div>
</div>

<footer>
<div class="row">
	<div class="span12" style="text-align: center;">
		<a class="btn btn-large" href="/">Home</a>
		<a class="btn btn-large" href="/account">View account</a>
		<a style="display:inline-block; margin-left: 18px;" href="/about"><img src="/img/irma.svg" style="height: 47px;" /></a>
	</div>
</div>
</footer>
