<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1>Stock</h1>
			<p>Bought goods?</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<form action="/stock" method="post" class="" >
		<div class="control-group">
			<label for="input-amount">Amount</label>
			<input id="input-amount" name="amount" type="number" placeholder="CHF" class="span2" />
		</div>

		<div class="control-group">
			<label for="input-description">What?</label>
			<input id="input-description" name="description" type="text" placeholder="e.g. Spaghetti" class="span2" />
		</div>

		<div class="form-actions">
            <button class="btn btn-primary" type="submit">Stock</button>
          </div>
		</form>
	</div>
</div>

<footer>
<div class="row">
	<div class="span12" style="text-align: center;">
		<a class="btn btn-large" href="/">Home</a>
		<a class="btn btn-large" href="/account">View account</a>
		<a style="display:inline-block; margin-left: 18px;" href="/about"><img src="/img/irma.svg" style="height: 47px;" /></a>
	</div>
</div>
</footer>
