<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1>Stock</h1>
			<p>Bought goods?</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<form action="/stock" method="post" class="" >
		<div class="control-group" id="ctrl-amount">
			<label for="input-amount">Amount</label>
			<input id="input-amount" name="amount" type="number" placeholder="CHF" class="span2" />
		</div>

		<script type="text/javascript">
		var stockableItems = <%- JSON.stringify(stockableItems) %>
		</script>

		<div class="control-group" id="ctrl-description">
			<label for="input-description">What?</label>
			<div style="float: right;">
				<a href="#" type="button" class="btn toggle"><i class="icon-list"></i></a>
			</div>
			<div style="margin-right: 40px;">
				<div id="wrapper-description">
					<input id="input-description" name="description" type="text" placeholder="e.g. Farmers" class="span2" />
				</div>
				<div id="wrapper-item">
					<select id="select-item" name="item" class="span2">
					<% for (var i = 0; i < stockableItems.length; i++) { %>
						<option value="<%= stockableItems[i]._data.id %>"><%= stockableItems[i]._data.name %></option>
					<% } %>
					</select>
					<div id="wrapper-stock" style="margin-right: -40px;">
						<label for="input-stock"></label>
						<input id="input-stock" name="stock" type="number" placeholder="" class="span2" />
					</div>
				</div>
			</div>
		</div>

		<div class="form-actions">
			<input id="restock-mode" type="hidden" name="restockmode" value="text" />
            <button class="btn btn-primary" type="submit">Stock</button>
          </div>
		</form>
	</div>
</div>

<footer>
<div class="row">
	<div class="span12" style="text-align: center;">
		<a class="btn btn-large" href="/">Home</a>
		<a class="btn btn-large" href="/account">View account</a>
		<a style="display:inline-block; margin-left: 18px;" href="/about"><img src="/img/irma.svg" style="height: 47px;" /></a>
	</div>
</div>
</footer>

<script type="text/javascript">
(function ($) {

	$(document).ready(function () {
		var showDescriptionInput = function () {
			$('#wrapper-item').hide();
			$('#wrapper-description').show();
			$('a.toggle i').removeClass('icon-pencil').addClass('icon-list');
			$('#restock-mode').val('text');
		};

		var showItemSelect = function () {
			$('#wrapper-description').hide();
			$('#wrapper-item').show();
			$('a.toggle i').removeClass('icon-list').addClass('icon-pencil');
			$('#restock-mode').val('item');
		};

		$('a.toggle').click(function (event) {
			event.preventDefault();

			if ($('#restock-mode').val() == 'text') {
				showItemSelect();
			} else {
				showDescriptionInput();
			}
		});

		$('#select-item').change(function (event) {
			var idx = $('#select-item').prop('selectedIndex');
			$('#wrapper-stock label').text(stockableItems[idx]._data.unit);
			$('#wrapper-stock input').attr('placeholder', stockableItems[idx]._data.unit);
		});
		$('#select-item').change();

		showItemSelect();
	});


})(jQuery);
</script>
