<%
	var posneg = (balance < 0) ? 'negative' : 'positive';
%>
<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1>Tally List</h1>
			<p>Tally marks successfully carried over</p>
		</div>
	</div>
</div>


<div class="row">
	<div class="span12">
		<div class="well">
			<p class="balance <%= posneg %>"><%=: balance / 100 | money %></p>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12" style="text-align: center;">
		<p><a class="btn btn-large btn-success" href="/tally">OK</a></p>
	</div>
</div>

<footer>
<div class="row">
	<div class="span12" style="text-align: center;">
		<a class="btn btn-large" href="/">Home</a>
		<a class="btn btn-large" href="/account">View account</a>
		<a style="display:inline-block; margin-left: 18px;" href="/about"><img src="/img/irma.svg" style="height: 47px;" /></a>
	</div>
</div>
</footer>
