<div class="row" style="margin-top: 36px; margin-bottom: 36px;">
	<div class="span12" style="text-align: center;">
		<a class="btn btn-large" href="/">Home</a>
		<a class="btn btn-large" href="/account">View account</a>
	</div>
</div>
