
<%- partial('partials/adminnav', { 'page' : 'withdraw' }) %>

<div class="row">
	<div class="span12">
		<form action="/withdraw" method="post" class="" >
		<div class="control-group">
			<label for="select-user">User</label>
			<select id="select-user" name="user" placeholder="Select" class="span2">
			<% for (var id in users) { %>
				<option value="<%= id %>"><%= users[id].fullName() %></option>
			<% } %>
			</select>
		</div>

		<div class="control-group">
			<label for="input-amount">Amount</label>
			<input id="input-amount" name="amount" type="number" step="0.05" placeholder="CHF" class="span2" />
		</div>

		<div class="form-actions">
            <button class="btn btn-primary" type="submit">Withdraw</button>
          </div>
		</form>
	</div>
</div>

<footer>
<div class="row">
	<div class="span12" style="text-align: center;">
		<a class="btn btn-large" href="/">Home</a>
		<a class="btn btn-large" href="/account">View account</a>
		<a style="display:inline-block; margin-left: 18px;" href="/about"><img src="/img/irma.svg" style="height: 47px;" /></a>
	</div>
</div>
</footer>
